<!DOCTYPE html>
<html>
  <head>
    <title>Log Moniter</title>
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand">LogM</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Moniter</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row" style="margin-bottom:10px">
        <div class="col-lg-10 col-md-9">
          <a href="/"><span class="label label-default">ALL</span></a>
          <a href="/?source={{.source}}&level=debug"><span class="label label-primary">DEBUG</span></a>
          <a href="/?source={{.source}}&level=info"><span class="label label-info">INFO</span></a>
          <a href="/?source={{.source}}&level=error"><span class="label label-danger">ERROR</span></a>
          <a href="/?source={{.source}}&level=warn"><span class="label label-warning">WARN</span></a>
        </div>
        <div class="col-lg-2 col-md-3 text-right">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" name="source" placeholder="input source name" value="{{.source}}" aria-describedby="basic-addon2">
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-condensed">
            {{range .logs}}
            <tr class="{{.Color}}">
              <td class="col-lg-2">{{.FormatTime "2006-01-02 15:04:05"}}</td>
              <td>{{.Source}}</td>
              <td>{{.Level}}</td>
              <td>{{.Content}}</td>
              </tr>
            {{else}}
            <tr><td>There is no logs</td></tr>
            {{end}}
        </table>
      </div>

      <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/?source={{.source}}&level={{.level}}&page={{Sub .page 1}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li>
      <a href="/?source={{.source}}&level={{.level}}&page={{Add .page 1}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

    </div>
  </body>
</html>